@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: lightgray;
  height: 50px;
}

nav {
  height: inherit;
  display: flex;
  /* как располагать внутри флекса по горизонтали */
  justify-content: start;
  /* располагать по вертикали */
  align-items: center;
}

/* a непосредственно в nav */
nav > a {
  /* убрать подчеркивание */
  text-decoration: none;
  color: black;
  padding: 0 30px;
  font-size: 20px;
}

.about-us {
  display: flex;
  /* направление расположение элементов во флексе */
  /* flex-direction: row-reverse;  */
  justify-content: center;
}

.about-us img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.about-us-description {
  display: flex;
  flex-direction: column;
}

.about-us-description * {
  padding: 5px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  margin: 0 auto;
}

.game > * {
  text-align: center;
}

.game input, .game button {
  border: none;
  background-color: lightgray;
  margin: 5px;
  min-height: 30px;
}

.game button {
  width: max-content;
  background-color: lightgreen;
  padding:0 10px;
  border-radius: 5px;
}